<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand">UDD</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item" *ngIf="!loggedIn"><a class="nav-link" [routerLink]="['/login']">Login</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/registration']">Register</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/books']">Books</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/languages']">Languages</a></li>
			<li class="nav-item"><a class="nav-link" [routerLink]="['/categories']">Categories</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="courses">Search</a></li>
          	<li class="nav-item" *ngIf="loggedIn"><a class="nav-link" (click)="logout()" routerLink="/login">Logout</a></li>
        </ul>
    </div>
<router-outlet></router-outlet>