<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container" style="margin-right: 0px; margin-left: 0px;width:100%;padding-left: 30px;">
        <a class="navbar-brand" style="margin-right:30px;">
            <span class="glyphicon glyphicon-book"></span> E-book repository
        </a>
        <ul class="nav navbar-nav" routerLinkActive="active" style="font-size: 18px;">
            <li class="nav-item" *ngIf="role == 'ADMIN'"><a class="nav-link" [routerLink]="['/languages']">Languages</a></li>
            <li class="nav-item" *ngIf="role != null"><a class="nav-link" [routerLink]="['/categories']">Categories</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/books']">Books</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/search']">Search books</a></li>
            <li class="nav-item" *ngIf="role == 'ADMIN'"><a class="nav-link" [routerLink]="['/users']">Users</a></li>
        </ul>     
        <a *ngIf="!checkIfLoggedIn()" class="navbar-brand" style="float:right;" [routerLink]="['/login']">
          <span class="glyphicon glyphicon-log-in"></span> Log in
        </a>
        <a *ngIf="checkIfLoggedIn()" class="navbar-brand" style="float:right;" (click)="logout()" routerLink="/login">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
        <a *ngIf="checkIfLoggedIn()" class="navbar-brand" style="float:right;" [routerLink]="['/profile']">
          <span class="glyphicon glyphicon-user"></span> Profile
        </a>
    </div>
<router-outlet></router-outlet>