<div class="add-area">
	<button type="button" class="btn btn-info btn-lg" [routerLink]="['/languages/add/0']">
          <span class="glyphicon glyphicon-plus"></span> Add language
	</button>
</div>
<div class="table-area">
	<table datatable class="table table-striped">
		<thead>
			<caption style="font-size: 22px;">Languages</caption>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Name</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let lan of languages" >
				<td scope="row">{{lan.id}}</td>
				<td scope="row">{{lan.name}}</td>
				<td scope="row"><button type="button" class="btn btn-default btn-sm" (click)="edit(lan.id)">
          			<span class="glyphicon glyphicon-edit"></span> Edit
        		</button></td>
			</tr>
		</tbody>
	</table>
</div>