<div class="table-main-div">
  <h2 class="page-header">Languages</h2>
<button class="btn btn-primary inline submit-button add-button" [routerLink]="['/languages/add/0']">Add new language</button>
<table datatable id="bookTable" class="table" >
		<thead class="table-thead-style">
			<tr>
			<th scope="col">
					Id
				</th>
				<th scope="col">
					Name
				</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody class="table-tbody-style">
			<tr *ngFor="let lan of languages" >
				<td scope="row">{{lan.id}}</td>
				<td scope="row">{{lan.name}}</td>
				<td scope="row"><button class="btn btn-primary inline submit-button intable-button" (click)="edit(lan.id)">Edit</button></td>
			</tr>
		</tbody>
	</table>
  </div>
