<div class="add-area"  *ngIf="role == 'ADMIN'">
	<button type="button" class="btn btn-info btn-lg" [routerLink]="['/categories/add/0']">
          <span class="glyphicon glyphicon-plus"></span> Add category
	</button>
</div>
<div class="table-area">
	<table datatable class="table table-striped">
		<thead>
			<caption style="font-size: 22px;">Categories</caption>
			<tr>
			<th scope="col">
					Id
				</th>
				<th scope="col">
					Name
				</th>
				<th scope="col" *ngIf="role == 'ADMIN'">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let category of categories" >
				<td scope="row">{{category.id}}</td>
				<td scope="row">{{category.name}}</td>
				<td scope="row" *ngIf="role == 'ADMIN'"><button type="button" class="btn btn-default btn-sm" (click)="edit(category.id)">
          			<span class="glyphicon glyphicon-edit"></span> Edit
        		</button></td>
			</tr>
		</tbody>
	</table>
</div>