<div class="add-area">
	<button type="button" class="btn btn-info btn-lg" [routerLink]="['/registration/0']">
          <span class="glyphicon glyphicon-plus"></span> Add user
	</button>
</div>
<div class="table-area">
	<table datatable class="table table-striped ">
		<thead>
			<caption style="font-size: 22px;">Users</caption>
			<tr>
				<th scope="col">
					First Name
				</th>
				<th scope="col">
					Last Name
				</th>
				<th scope="col">
					Username
				</th>
				<th scope="col">
					Email
				</th>
				<th scope="col">
					Role
				</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of users" >
				<td scope="row">{{user.firstName}}</td>
				<td scope="row">{{user.lastName}}</td>
				<td scope="row">{{user.username}}</td>
				<td scope="row">{{user.email}}</td>
				<td scope="row">{{user.role}}</td>
				<td scope="row"><button type="button" class="btn btn-default btn-sm" (click)="edit(user.id)">
          			<span class="glyphicon glyphicon-edit"></span> Edit
        		</button></td>
			</tr>
		</tbody> 
	</table>
</div>